@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";

.kuiLocalNav {
  min-height: 32px;
}

.kuiLocalNavRow--secondary {
  display: none;
}

.container {
  margin-top: 30px;
}

.table {
  width: 40%;
}